
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/css/main.css" rel="stylesheet" />
<div class="container-fluid" style="z-index:44;">
    
    <div class="row Product_body card_content" style="margin-top: 20px; margin-left: 11px; margin-right: 11px; display:none; ">
       
    </div>

    <div class="pagination">
     @*   <li class="page-item previous-page disable"> <a class="page-link" href="#">Prev</a> </li>
        <li class="page-item current-page active"> <a class="page-link" href="#">1</a> </li>
        <li class="page-item dots"> <a class="page-link" href="#">...</a> </li>
        <li class="page-item current-page"> <a class="page-link" href="#">3</a> </li>
        <li class="page-item current-page"> <a class="page-link" href="#">4</a> </li>
        <li class="page-item dots"> <a class="page-link" href="#">...</a> </li>
        <li class="page-item current-page"> <a class="page-link" href="#">5</a> </li>
        <li class="page-item next-page"> <a class="page-link" href="#">Next</a> </li>*@
    </div>
</div>

<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Js/main.js"></script>





